mat-sidenav-container {
  height: 56.8em;
}
// mat-sidenav, mat-sidenav-content {
//     padding: 20px;
// }

// mat-sidenav{
//     width: 260px;
// }
.mat-list-base .mat-list-item.mat-list-item-with-avatar {
    height: 50px;
}
#sidenav.menu-close {
  width: 70px;
}
#sidenav.menu-open {
  width: 240px;
}
